.Booking-page {
    // padding: 5rem 8%;


    .mybooking {
        font-family: bell MT;
        padding: 0rem 8%;
        margin-top: 5rem;
        margin-bottom: -3rem;
    }

    .booking {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        padding: 5rem 8%;


        .booking-card {
            margin-top: 2rem;
            width: 500px;
            
            // background-color: gray;
            box-shadow: 0px 0px 5px black;
            border-radius: 10px;
            overflow: hidden;

            .header {
                height: 250px;
                
                background-color: lightblue;
                overflow: none;

                .img {
                    height: 80%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .room-detail {
                margin-top: 1.2rem;
                .room-information {
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4vw;


                    h1 {
                        font-size: 1.9vw;
                        text-transform: capitalize;

                    }

                    h3 {
                        font-size: 1.2vw;

                    }

                    .info {
                        display: flex;
                        justify-content: space-between;

                        h4 {
                            margin-top: 1.2rem;
                            font-weight: 500;
                            font-size: 1vw;

                        }
                    }

                    .date {
                        margin-top: 1.5rem;
                        font-weight: 500;

                        p {
                            font-size: 1vw;
                        }
                    }

                }

                .line {
                    margin: 0px 40px;
                    border: 1px dashed black;
                }

                .btn-info {
                    padding: 0.8rem 2rem;
                    display: flex;
                    gap: 10px;

                    .status {
                        width: 50%;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border: none;
                        font-size: 0.9vw;

                    }

                    .cancelBtn {
                        width: 50%;
                        border-radius: 0.5rem;
                        border: none;
                        background-color: rgb(211, 68, 68);
                        color: white;
                        font-size: 0.9vw;
                        cursor: pointer;
                    }

                    .cancelBtn.notActive {
                        width: 50%;
                        border-radius: 0.5rem;
                        border: none;
                        background-color: rgb(211, 68, 68);
                        color: black;
                        font-size: 0.9vw;
                        cursor: no-drop;

                    }
                }


            }

        }

        .no-data {
            margin-top: 5rem;
        }


    }

    .warning {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: #00000090;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card{
            position: fixed;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: #1C252E;
            color: white;
            width: 500px;
            height: 170px;
            padding: 1.5rem;
            border-radius: 15px;
            transition: all 0.5s ease-in;
            

            h1{
                font-size: 1.2vw;
            }
            p{
                font-size: 1vw;
            }
            .btn-info{
                display: flex;
                justify-content: end;
                gap: 0.5rem;
                
                button{
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: none;
                    cursor: pointer;
                    font-size: 0.8vw;
                }

                .cancel-btn{
                    background-color: rgb(211, 68, 68);
                    color: white;
                }
            }
        }
    }


}