.room {

    .section1 {
        background-image: url('../../assets/room-back-img.jpg');
        height: 60vh;
        background-color: lightblue;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        .title {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #00000090;
            flex-direction: column;


            .smallTitle {
                color: #b99273;
                font-size: 0.9 vw;
                letter-spacing: 6px;
                margin-bottom: 12px;

            }

            .mainTitle {
                font-size: 4vw;
                font-weight: 400;
                margin-bottom: 3rem;
                color: white;
                font-family: bell MT;
            }

            svg {
                font-size: 2vw;
                position: absolute;
                bottom: -4%;
                background-color: white;
                color: black;
                border-radius: 50%;
                padding: 0.5vw;
            }


        }

    }

    .section2 {
        display: flex;
        padding: 5rem;
        // justify-content: space-between;
        // align-items: center;
        width: 100%;

        .title-description {
            width: 50%;

            p {
                font-size: 1vw;
                color: #b99273;
                font-weight: 500;
            }

            h1 {
                font-size: 3.5vw;
                width: 100%;
                font-weight: 400;
                font-family: Bell MT;
            }
        }

        .description {
            width: 80%;

            p {
                width: 100%;
                line-height: 1.8rem;
                font-size: 1vw;
            }
        }
    }

    .feature {
        padding: 0rem 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;

        p {
            display: flex;
            gap: 1rem;
            font-size: 1.2vw;
            width: 90%;

            svg {
                font-size: 2.5vw;
                color: #b99273;
            }
        }
    }

   

    .card {
        padding: 5rem 4rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;

        .card-detail {
            display: flex;
            flex-direction: column;
            width: 45%;
            height: 650px;
            overflow: hidden;
            box-shadow: 0px 0px 4px black;
            background-color: rgb(247, 244, 244);
           
            


            .img-section {
                height: 350px;
                position: relative;
                
                overflow: hidden;

                img{
                    width: 100%;
                    object-fit: cover;
                    
                    
                }

                h3 {
                    font-weight: 200;
                    position: absolute;
                    bottom: 0;
                    padding: 0.5vw 2vw;
                    color: white;
                    background-color: #00000090;
                    height: 50px;
                    font-family: bold;

                    span {
                        font-weight: 700;
                        font-size: 1.3vw;
                    }
                }

            }

            .room-information {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                height: 200px;
                

                .status {
                    background-color: rgb(68, 139, 68);
                    width: 11%;
                    color: white;
                    border-radius: 15px;
                    padding: 0.4vw;
                    font-family: Bell MT;
                    text-transform:capitalize;
                }

                .Title {
                    font-size: 1.8vw;
                    font-weight: 300;
                    font-family: Bell MT;
                }

                .desc {
                    font-size: 1vw;
                    font-family: Bell MT;
                }

                .member-section {
                    display: flex;
                    margin-top: 2rem;
                    justify-content: end;
                    h4 {
                        font-weight: 600;
                        font-size: 1vw;
                        font-family: Bell MT;
                    }
                }
                button{
                    padding: 0.5vw;
                    width: 20%;
                    border-radius: 10px;
                    border: none;
                    background-color: #b99273;
                    color: white;
                    font-weight: 700;
                    // margin-top: 1.2rem;
                    font-size: 1vw;
                    font-family: Bell MT;
                }

            }
        }

    }

}